openapi: 3.0.3
info:
  title: Animati - OpenAPI 3.0
  description: ciao
  contact:
    email: assistenza@animati.app
  license:
    name: GPL-3.0 license
    url: https://github.com/IS-T51/animati/blob/main/LICENSE
  version: 0.0.8
servers:
- url: https://api.animati.app/v1
- url: http://localhost:8080/
tags:
- name: utente
- name: attivita
- name: liste
- name: etichette
paths:
  /utente:
    get:
      tags:
      - utente
      summary: Ottieni l'utente
      description: Ottieni l'utente associato alla sessione corrente
      operationId: getUtente
      responses:
        "200":
          description: L'utente associato alla sessione corrente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Utente'
        "401":
          description: Autenticazione necessaria per fare questa richiesta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
        "500":
          description: Errore interno del server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
      security:
      - autenticato: []
      x-swagger-router-controller: Utente
  /utente/{id}:
    patch:
      tags:
      - utente
      summary: Modifica il ruolo
      description: Modifica il ruolo dell'utente con l'id specificato
      operationId: modificaRuolo
      parameters:
      - name: id
        in: path
        description: L'id dell'utente
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: ruolo
        in: query
        description: Il nuovo ruolo dell'utente
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - autenticato
          - amministratore
      responses:
        "200":
          description: Ruolo modificato
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Risposta'
        "400":
          description: Richiesta non valida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
        "401":
          description: Autenticazione necessaria per fare questa richiesta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
        "403":
          description: Non sei autorizzato a fare questa richiesta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
        "500":
          description: Errore interno del server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
      security:
      - autenticato: []
      x-swagger-router-controller: Utente
  /utente/login:
    get:
      tags:
      - utente
      summary: Effettua il login
      operationId: login
      responses:
        "302":
          description: Redirect alla pagina di login
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
      x-swagger-router-controller: Utente
  /google/{codiceAutorizzativo}:
    get:
      tags:
      - utente
      summary: Login con Google
      description: Verifica il codice autorizzativo fornito da Google e crea un utente
      operationId: loginGoogle
      parameters:
      - name: codiceAutorizzativo
        in: path
        description: Il codice autorizzativo fornito da Google
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Login effettuato
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Utente'
        "400":
          description: Richiesta non valida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
        "500":
          description: Errore interno del server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
      x-swagger-router-controller: Utente
  /attivita/{id}:
    get:
      tags:
      - attivita
      summary: Ottieni l'attività
      description: Ottieni l'attività con l'id specificato
      operationId: getAttivita
      parameters:
      - name: id
        in: path
        description: L'id dell'attività
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: L'attività con l'id specificato
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attivita'
        "404":
          description: L'attività non esiste
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
        "500":
          description: Errore interno del server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
      x-swagger-router-controller: Attivita
    put:
      tags:
      - attivita
      summary: Modifica l'attività
      description: Modifica l'attività con l'id specificato
      operationId: modificaAttivita
      parameters:
      - name: id
        in: path
        description: L'id dell'attività
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      requestBody:
        description: L'attività modificata
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Attivita'
        required: true
      responses:
        "200":
          description: Attività modificata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Risposta'
        "400":
          description: Richiesta non valida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
        "401":
          description: Autenticazione necessaria per fare questa richiesta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
        "403":
          description: Non sei autorizzato a fare questa richiesta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
        "404":
          description: L'attività non esiste
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
        "500":
          description: Errore interno del server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
      security:
      - autenticato: []
      x-swagger-router-controller: Attivita
  /attivita/{id}/valutazione:
    get:
      tags:
      - attivita
      summary: Ottieni valutazione di un'attività
      description: Ottiene la valutazione dell'utente di un'attività
      operationId: ottieniValutazione
      parameters:
      - name: id
        in: path
        description: L'id dell'attività
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Lista di valutazioni
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Valutazione'
                x-content-type: application/json
        "204":
          description: Nessuna valutazione trovata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Risposta'
        "401":
          description: Autenticazione necessaria per fare questa richiesta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
        "404":
          description: Attività non trovata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
        "500":
          description: Errore interno del server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
      security:
      - autenticato: []
      x-swagger-router-controller: Attivita
    post:
      tags:
      - attivita
      summary: Aggiungi valutazione
      description: Aggiunge la valutazione all'attività
      operationId: aggiungiValutazione
      parameters:
      - name: id
        in: path
        description: L'id dell'attività
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      requestBody:
        description: La valutazione da aggiungere
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Valutazione'
        required: true
      responses:
        "200":
          description: Valutazione aggiornata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Risposta'
        "201":
          description: Valutazione aggiunta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Risposta'
        "400":
          description: Richiesta non valida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
        "401":
          description: Autenticazione necessaria per fare questa richiesta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
        "404":
          description: Attività non trovata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
        "500":
          description: Errore interno del server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
      security:
      - autenticato: []
      x-swagger-router-controller: Attivita
  /attivita/{id}/segnalazioni:
    get:
      tags:
      - attivita
      summary: Ottieni segnalazioni di un'attività
      description: Ottiene tutte le segnalazioni in un'attività
      operationId: ottieniSegnalazioni
      parameters:
      - name: id
        in: path
        description: L'id dell'attività
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Lista di segnalazioni
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Segnalazione'
                x-content-type: application/json
        "204":
          description: Nessuna segnalazione trovata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Risposta'
        "401":
          description: Autenticazione necessaria per fare questa richiesta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
        "403":
          description: Non sei autorizzato a fare questa richiesta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
        "404":
          description: Attività non trovata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
        "500":
          description: Errore interno del server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
      security:
      - autenticato: []
      x-swagger-router-controller: Attivita
    post:
      tags:
      - attivita
      summary: Aggiungi segnalazione
      description: Aggiunge una segnalazione all'attività
      operationId: aggiungiSegnalazione
      parameters:
      - name: id
        in: path
        description: L'id dell'attività
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      requestBody:
        description: La segnalazione da aggiungere
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Segnalazione'
        required: true
      responses:
        "200":
          description: Segnalazione aggiornata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Risposta'
        "201":
          description: Segnalazione aggiunta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Risposta'
        "400":
          description: Richiesta non valida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Risposta'
        "401":
          description: Autenticazione necessaria per fare questa richiesta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
        "404":
          description: Attività non trovata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
        "500":
          description: Errore interno del server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
      security:
      - autenticato: []
      x-swagger-router-controller: Attivita
  /catalogo:
    get:
      tags:
      - attivita
      summary: Ottieni il catalogo
      description: Ottieni il catalogo
      operationId: getCatalogo
      parameters:
      - name: filtro
        in: query
        description: Il filtro da applicare al catalogo
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Filtro'
      responses:
        "200":
          description: Il catalogo
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Attivita'
                x-content-type: application/json
        "204":
          description: Nessuna attività presente nel catalogo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Risposta'
        "400":
          description: Richiesta non valida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
        "500":
          description: Errore interno del server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
      x-swagger-router-controller: Attivita
    post:
      tags:
      - attivita
      summary: Aggiungi l'attività
      description: Aggiungi l'attività al catalogo
      operationId: aggiungiAttivita
      requestBody:
        description: L'attività da aggiungere
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Attivita'
        required: true
      responses:
        "200":
          description: Attività aggiunta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attivita'
        "400":
          description: Richiesta non valida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
        "401":
          description: Autenticazione necessaria per fare questa richiesta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
        "500":
          description: Errore interno del server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
      security:
      - autenticato: []
      x-swagger-router-controller: Attivita
  /catalogo/aggiorna:
    get:
      tags:
      - attivita
      summary: Aggiorna il catalogo
      description: Restituisce le attività aggiornate dopo la data specificata
      operationId: aggiornaCatalogo
      parameters:
      - name: data
        in: query
        description: La data dopo la quale cercare le attività aggiornate
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      responses:
        "200":
          description: Catalogo aggiornato
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Attivita'
                x-content-type: application/json
        "400":
          description: Richiesta non valida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
        "500":
          description: Errore interno del server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
      x-swagger-router-controller: Attivita
  /liste:
    get:
      tags:
      - liste
      summary: Ottieni le liste
      description: Ottieni le liste dell'utente
      operationId: getListe
      responses:
        "200":
          description: Le liste dell'utente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lista'
        "401":
          description: Autenticazione necessaria per fare questa richiesta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
        "500":
          description: Errore interno del server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
      security:
      - autenticato: []
      x-swagger-router-controller: Liste
    post:
      tags:
      - liste
      summary: Crea lista
      description: Crea una nuova lista
      operationId: aggiungiLista
      requestBody:
        description: La lista da aggiungere
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Lista'
        required: true
      responses:
        "200":
          description: Lista aggiunta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lista'
        "400":
          description: Richiesta non valida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
        "401":
          description: Autenticazione necessaria per fare questa richiesta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
        "500":
          description: Errore interno del server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
      security:
      - autenticato: []
      x-swagger-router-controller: Liste
  /liste/{id}:
    get:
      tags:
      - liste
      summary: Ottieni la lista
      description: Ottieni la lista con l'id specificato
      operationId: getLista
      parameters:
      - name: id
        in: path
        description: L'id della lista
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: La lista con l'id specificato
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lista'
        "401":
          description: Autenticazione necessaria per fare questa richiesta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
        "403":
          description: Non sei autorizzato a fare questa richiesta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
        "404":
          description: Lista non trovata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
        "500":
          description: Errore interno del server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
      security:
      - autenticato: []
      x-swagger-router-controller: Liste
    post:
      tags:
      - liste
      summary: Aggiunge attività alla lista
      description: Aggiunge l'attività specificata alla lista
      operationId: aggiungiAttivitaALista
      parameters:
      - name: id
        in: path
        description: L'id della lista
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: attivita
        in: query
        description: L'id dell'attività da aggiungere alla lista
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Attività aggiunta alla lista
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lista'
        "400":
          description: Richiesta non valida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
        "401":
          description: Autenticazione necessaria per fare questa richiesta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
        "403":
          description: Non sei autorizzato a fare questa richiesta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
        "404":
          description: Lista non trovata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
        "500":
          description: Errore interno del server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
      security:
      - autenticato: []
      x-swagger-router-controller: Liste
    delete:
      tags:
      - liste
      summary: Elimina lista
      description: Elimina la lista con l'id specificato
      operationId: eliminaLista
      parameters:
      - name: id
        in: path
        description: L'id della lista
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Lista eliminata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Risposta'
        "401":
          description: Autenticazione necessaria per fare questa richiesta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
        "403":
          description: Non sei autorizzato a fare questa richiesta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
        "404":
          description: Lista non trovata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
        "500":
          description: Errore interno del server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
      security:
      - autenticato: []
      x-swagger-router-controller: Liste
  /liste/{id}/{indice}:
    delete:
      tags:
      - liste
      summary: Rimuovi attività dalla lista
      description: Rimuove l'attività all'indice specificato dalla lista
      operationId: rimuoviAttivitaDaLista
      parameters:
      - name: id
        in: path
        description: L'id della lista
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: indice
        in: path
        description: L'indice dell'attività da rimuovere dalla lista
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Attività rimossa dalla lista
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lista'
        "400":
          description: Richiesta non valida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
        "401":
          description: Autenticazione necessaria per fare questa richiesta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
        "403":
          description: Non sei autorizzato a fare questa richiesta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
        "404":
          description: Lista non trovata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
        "500":
          description: Errore interno del server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
      security:
      - autenticato: []
      x-swagger-router-controller: Liste
  /etichette:
    get:
      tags:
      - etichette
      summary: Ottieni tutte le etichette
      description: Ottiene tutte le etichette
      operationId: ottieniEtichette
      responses:
        "200":
          description: Lista di etichette
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Etichetta'
                x-content-type: application/json
        "204":
          description: Nessuna etichetta trovata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Risposta'
        "500":
          description: Errore interno del server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
      x-swagger-router-controller: Etichette
    post:
      tags:
      - etichette
      summary: Aggiungi etichetta
      description: Aggiunge l'etichetta specificata
      operationId: aggiungiEtichetta
      requestBody:
        description: L'etichetta da aggiungere
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Etichetta'
        required: true
      responses:
        "200":
          description: Etichetta aggiunta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Etichetta'
        "400":
          description: Richiesta non valida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
        "401":
          description: Autenticazione necessaria per fare questa richiesta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
        "403":
          description: Non sei autorizzato a fare questa richiesta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
        "500":
          description: Errore interno del server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
      security:
      - autenticato: []
      x-swagger-router-controller: Etichette
  /ping:
    get:
      summary: Ping
      description: Ping
      operationId: ping
      responses:
        "200":
          description: Pong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Risposta'
      x-swagger-router-controller: Default
components:
  schemas:
    Utente:
      required:
      - email
      - id
      - ruolo
      type: object
      properties:
        id:
          type: integer
          format: int64
          readOnly: true
        email:
          type: string
          format: email
        ruolo:
          type: string
          enum:
          - autenticato
          - amministratore
      example:
        ruolo: autenticato
        id: 0
        email: ""
    Attivita:
      required:
      - id
      type: object
      properties:
        id:
          type: integer
          format: int64
          readOnly: true
        descrizione:
          type: string
        banner:
          type: string
          description: Il link al banner dell'attività
          format: uri
        informazioni:
          $ref: '#/components/schemas/Informazioni'
        collegamenti:
          type: array
          items:
            $ref: '#/components/schemas/Collegamento'
        utimaModifica:
          type: string
          format: date-time
        autore:
          type: integer
          format: int64
          readOnly: true
        mediaValutazioni:
          maximum: 5
          minimum: 0
          type: number
          format: double
        numeroSegnalazioni:
          minimum: 0
          type: integer
          format: int64
      example:
        numeroSegnalazioni: 0
        descrizione: descrizione
        mediaValutazioni: 4.6507221219662877587097682408057153224945068359375
        banner: http://example.com/aeiou
        id: 0
        collegamenti:
        - link: http://example.com/aeiou
          nome: nome
        - link: http://example.com/aeiou
          nome: nome
        utimaModifica: 2000-01-23T04:56:07.000+00:00
        informazioni:
          età:
            a: 0
            da: 0
          durataMedia: 0
          etichette:
          - descrizione: descrizione
            categoria: categoria
            nome: nome
          - descrizione: descrizione
            categoria: categoria
            nome: nome
          giocatoriPerSquadraSet: true
          titlo: titlo
          giocatoriPerSquadra: 0
          unitàDurata: minuti
          giocatori: null
          numeroSquadre: 0
          numeroSquadreSet: true
        autore: 7
    Informazioni:
      type: object
      properties:
        titlo:
          type: string
        età:
          $ref: '#/components/schemas/Intervallo'
        unitàDurata:
          type: string
          enum:
          - minuti
          - ore
        durataMedia:
          minimum: 0
          type: integer
          format: int64
        giocatori:
          $ref: '#/components/schemas/Intervallo'
        giocatoriPerSquadra:
          minimum: 0
          type: integer
          format: int64
        giocatoriPerSquadraSet:
          type: boolean
        numeroSquadre:
          minimum: 0
          type: integer
          format: int64
        numeroSquadreSet:
          type: boolean
        etichette:
          type: array
          items:
            $ref: '#/components/schemas/Etichetta'
      example:
        età:
          a: 0
          da: 0
        durataMedia: 0
        etichette:
        - descrizione: descrizione
          categoria: categoria
          nome: nome
        - descrizione: descrizione
          categoria: categoria
          nome: nome
        giocatoriPerSquadraSet: true
        titlo: titlo
        giocatoriPerSquadra: 0
        unitàDurata: minuti
        giocatori: null
        numeroSquadre: 0
        numeroSquadreSet: true
    Etichetta:
      required:
      - categoria
      - descrizione
      - nome
      type: object
      properties:
        nome:
          type: string
        descrizione:
          type: string
        categoria:
          type: string
      example:
        descrizione: descrizione
        categoria: categoria
        nome: nome
    Collegamento:
      required:
      - link
      - nome
      type: object
      properties:
        nome:
          type: string
        link:
          type: string
          format: uri
      example:
        link: http://example.com/aeiou
        nome: nome
    Filtro:
      allOf:
      - type: object
        properties:
          ultimaModifica:
            type: string
            format: date-time
          autore:
            type: integer
            format: int64
          mediaValutazioniMinima:
            maximum: 5
            minimum: 0
            type: number
            format: double
          numeroSegnalazioniMinimo:
            minimum: 0
            type: integer
            format: int64
          pagina:
            minimum: 0
            type: integer
            format: int64
          limite:
            maximum: 100
            minimum: 0
            type: integer
            format: int64
      - $ref: '#/components/schemas/Informazioni'
    Lista:
      required:
      - attività
      - id
      - nome
      type: object
      properties:
        id:
          type: integer
          format: int64
          readOnly: true
        nome:
          type: string
        autore:
          type: integer
          format: int64
          readOnly: true
        attività:
          type: array
          readOnly: true
          items:
            type: integer
            format: int64
        utimaModifica:
          type: string
          format: date-time
          readOnly: true
      example:
        attività:
        - 1
        - 1
        nome: nome
        id: 0
        utimaModifica: 2000-01-23T04:56:07.000+00:00
        autore: 6
    Valutazione:
      required:
      - attività
      - autore
      - voto
      type: object
      properties:
        voto:
          multipleOf: 0.5
          maximum: 5
          minimum: 0
          type: number
          format: double
        attività:
          type: integer
          format: int64
          readOnly: true
        autore:
          type: integer
          format: int64
          readOnly: true
      example:
        attività: 6
        voto: 0.400414095230505751032978878356516361236572265625
        autore: 1
    Segnalazione:
      required:
      - messaggio
      - titolo
      type: object
      properties:
        messaggio:
          type: string
        titolo:
          type: string
        attività:
          type: integer
          format: int64
          readOnly: true
        autore:
          type: integer
          format: int64
          readOnly: true
      example:
        attività: 0
        titolo: titolo
        messaggio: messaggio
        autore: 6
    Intervallo:
      type: object
      properties:
        da:
          minimum: 0
          type: integer
          format: int64
        a:
          minimum: 0
          type: integer
          format: int64
      example:
        a: 0
        da: 0
    Errore:
      required:
      - code
      - messaggio
      type: object
      properties:
        code:
          type: integer
          format: int64
          readOnly: true
          enum:
          - 401
          - 403
          - 404
          - 500
          default: 401
        messaggio:
          type: string
          readOnly: true
          default: Autenticazione necessaria per fare questa richiesta
        errore:
          type: object
          readOnly: true
    Risposta:
      required:
      - codice
      - messaggio
      type: object
      properties:
        codice:
          type: integer
          format: int64
          readOnly: true
          enum:
          - 200
          - 201
          - 204
        messaggio:
          type: string
          readOnly: true
      example:
        messaggio: messaggio
        codice: 0
  securitySchemes:
    autenticato:
      type: http
      scheme: bearer
      bearerFormat: JWT
